.callout-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #2b333d;
  border-radius: 8px;
  padding: 24px 16px;
  margin: 16px 0;
}

.callout-title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 24px;
}

.callout-content {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}